<configuration>
    <paths>
        <media-path>media/</media-path>
        <log-path disable="false">log/</log-path>
        <data-path>data/</data-path>
        <template-path>media/</template-path>
    </paths>
    <lock-clear-phrase>secret</lock-clear-phrase>
    <channels>
        <channel>
            <video-mode>1920x1024</video-mode> <-- Main display video mode id-->
            <consumers>
                <screen>
                    <device>1</device>
                    <x>0</x>
                    <y>0</y>
                    <width>1920</width>
                    <height>1024</height>
                    <stretch>none</stretch> <-- Should be as drop down with [none|fill|uniform|uniform_to_fill]  -->
                    <windowed>true</windowed> <-- Should be as enable tick -->
                    <vsync>true</vsync> <-- Should be as enable tick -->
                    <always-on-top>true</always-on-top> <-- Should be as enable tick -->
                    <borderless>false</borderless> <-- Should be as enable tick -->
                </screen>
            </consumers>
        </channel>
        <channel><-- Preview channel of the main 1, it doesnt have a consumer specified as it is virtual for use on the multiview-->
            <video-mode>1920x1024</video-mode>
            <consumers>
            </consumers>
        </channel>
        <channel>
            <video-mode>1080p5000</video-mode><-- This one is using standard casparcg format thats why its not in the video modes definitions -->
            <consumers>
                <screen>
                    <device>2</device>
                    <x>1920</x><-- Position calculated from width of the main screen, so its on the second display -->
                    <y>0</y>
                    <width>1920</width>
                    <height>1080</height>
                    <stretch>none</stretch>
                    <windowed>true</windowed>
                    <vsync>true</vsync>
                    <borderless>false</borderless>
                </screen>
            </consumers>
        </channel>
    </channels>
    <video-modes><-- Here we explain custom resolution if set -->
        <video-mode>
            <id>1920x1024</id> <-- this id is used for consumers -->
            <width>1920</width>
            <height>1024</height>
            <time-scale>50000</time-scale><-- frame rate -->
            <duration>1000</duration><-- always 1000 -->
            <cadence>960</cadence><-- this needs to be calculated 480000/50 if its 60hz it should be 48000/60 = 800-->
        </video-mode>
    </video-modes>
    <controllers>
        <tcp>
            <port>5250</port>
            <protocol>AMCP</protocol>
        </tcp>
    </controllers>
    <amcp>
        <media-server>
            <host>localhost</host>
            <port>8000</port>
        </media-server>
    </amcp>
    <ndi>
        <auto-load>false</auto-load>
    </ndi>
    <decklink/>
<html>
    <enable-gpu>false</enable-gpu>
</html>
</configuration>
