<configuration>
    <paths>
        <media-path>media/</media-path>
        <log-path disable="false">log/</log-path>
        <data-path>data/</data-path>
        <template-path>media/</template-path>
    </paths>
    <lock-clear-phrase>secret</lock-clear-phrase>
    <channels>
        <channel>
            <video-mode>1728x768</video-mode>
            <consumers>
                <screen>
                    <device>1</device>
                    <x>0</x>
                    <y>0</y>
                    <width>1728</width>
                    <height>768</height>
                    <stretch>none</stretch>
                    <windowed>true</windowed>
                    <vsync>true</vsync>
                    <always-on-top>true</always-on-top>
                    <borderless>false</borderless>
                </screen>
            </consumers>
        </channel>
        <channel>
            <video-mode>1728x768</video-mode>
            <consumers/>
        </channel>
        <channel>
            <video-mode>1536x640</video-mode>
            <consumers>
                <screen>
                    <device>2</device>
                    <x>1728</x>
                    <y>0</y>
                    <width>1536</width>
                    <height>640</height>
                    <stretch>none</stretch>
                    <windowed>true</windowed>
                    <vsync>true</vsync>
                    <always-on-top>true</always-on-top>
                    <borderless>false</borderless>
                </screen>
            </consumers>
        </channel>
        <channel>
            <video-mode>1536x640</video-mode>
            <consumers/>
        </channel>
        <channel>
            <video-mode>1080p5000</video-mode>
            <consumers>
                <screen>
                    <device>3</device>
                    <x>3264</x>
                    <y>0</y>
                    <width>1920</width>
                    <height>1080</height>
                    <stretch>none</stretch>
                    <windowed>true</windowed>
                    <vsync>true</vsync>
                    <borderless>false</borderless>
                </screen>
            </consumers>
        </channel>
    </channels>
    <video-modes>
        <video-mode>
            <id>1728x768</id>
            <width>1728</width>
            <height>768</height>
            <time-scale>50000</time-scale>
            <duration>1000</duration>
            <cadence>960</cadence>
        </video-mode>
        <video-mode>
            <id>1536x640</id>
            <width>1536</width>
            <height>640</height>
            <time-scale>50000</time-scale>
            <duration>1000</duration>
            <cadence>960</cadence>
        </video-mode>
    </video-modes>
    <controllers><tcp><port>5250</port><protocol>AMCP</protocol></tcp></controllers>
    <amcp><media-server><host>localhost</host><port>8000</port></media-server></amcp>
    <ndi><auto-load>false</auto-load></ndi>
    <decklink/>
    <html><enable-gpu>false</enable-gpu></html>
</configuration>
